// Material
/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
.show-menu {
    @include breakpoint(max-width $medium) {
        display: none!important;
    }   
}

// Colors
.emerald {
    color: $emerald!important;
}

.blue {
    color: $blue;
}

.aqua {
    color: $aqua;
}

.red {
    color: $coral;
}

.hide-menu {
    @include breakpoint(max-width $medium) {
        display: block!important;
    }
}

.text-right {
    text-align: right;
}

.pull-right {
    float: right;
}

.display-block {
    display: block
}

.hover {
    transition: all .3s ease;
    cursor: pointer;
    &:hover {
        opacity: .8;
    }
}

.chart-circle {
    @include circle($purple-pink, 22px);
    color: $white;
    margin-left: 8px;
}

/// ===================================================================
/// APP Module 
/// USAGE:
// <div class="recently-ended app-module">
//     <div class="app-module-header">
        
//     </div>
//     <div class="app-module-body">
        
//     </div>

//     <div class="app-module-footer">
        
//     </div>
// </div>


.app-module {
    background: $module-background;
    @include border-radius(3px);
    padding-top: 14px;
    padding-bottom: 14px;
    
    .app-module-header {
        h3 {
        font-family: $lato;
        color: $mild-puple-blue;
        font-size: 15px;
        font-weight: 900;
        letter-spacing: 2.39px;
        margin-left: 13px;

    }
    i {
        color: $mild-puple-blue;
    }
        padding: 0 28px;
    }
    .app-module-body {
        padding: 0 28px;
    }
    .app-module-footer {

    }
}

.app-card {
    color: $icon-light-purple;
    margin-top: 14px;
    margin-bottom: 14px;
    font-family: $lato;
    h4 {
        font-size: 12px;
        font-weight: 900;
        letter-spacing: 1.59px;
        margin-left: 8px;
    }
    .app-card-row {
        margin-bottom: 16px; 
    }
    .app-card-body {
        background: $light-purple-blue;
        padding: 16px 16px 7px 16px;
        @include border-radius-each('top-left',$card-radius);
        @include border-radius-each('top-right', $card-radius);
        .app-avator, .app-card-song-title {
            margin-bottom: 11px;
        }
        .app-avator > h4, i {
            color: $icon-light-purple;
        }
        .app-card-song-title {
            h4 {
                color: $dark-emerald;
            } 
        }
        .app-card-controls {
            img {
                margin-left: 11px;
            }
            i {
                transition: all .3s ease;
                cursor: pointer;
                &:hover {
                    opacity: .8;
                }
            }
        }
    }
    .app-card-footer {
        background: $deep-blue-purple;
        padding: 16px 16px 7px 16px;
        color: $icon-light-purple;
        @include border-radius-each('bottom-left', $card-radius);
        @include border-radius-each('bottom-right', $card-radius);
        i {
            color: $icon-light-purple;
        }
        p {
            font-weight: 900;
            font-size: 12px;
            letter-spacing: 1.91px;
            margin-left: 7px;
        }
    }
}

// Comments
.app-comments {
    font-family: $lato;
    .app-comments-header {
        background: $deep-blue-purple;
        padding: 15px 14px;
        .app-comment-header-row {
            .app-comment-header-item {
                margin-right: 21px;
                small {
                    color: $mild-puple-blue;
                    font-size: 12px;
                    font-weight: 700;
                    letter-spacing: 2.23;
                    span {
                        margin-left: 8px;
                    }
                }
                i {
                    margin: 0 11px;
                }
            }
        }
    }
    .app-comments-body {
        padding: 33px 39px;
        input[type="text"] {
            background: $deep-blue-purple;
            @include border-radius(20px);
            border: none;
            width: 100%;
            padding: 9px 26px;
        }
        @include placeholder-text($mild-puple-blue, 12px, 2.23px, 900);
    }
}

.app-round-btn {
    @include circle($aqua, 49px);
    color: $white;
    padding: 7px;
    border: none;
    margin-left: 17px;
}