// Dependencies
@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import '../node_modules/breakpoint-sass/stylesheets/_breakpoint.scss';



// My Dependencies
@import './variables.scss';
@import './mixins.scss';
@import './classes.scss';

// Views / Partials
@import './views/header.scss';
@import './views/side-menu.scss';
@import './views/gui-main.scss';
@import './views/recently-ended.scss';


// Defaults

h1, h2, h3, h4, h5, h6, p, a{
    margin-bottom: 0;
}

body {
    background: $deep-blue-purple;
}