@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin border-radius-each($corner, $radius) {
  @if $corner == 'top-left' {
    -webkit-border-top-left-radius: $radius;
     -moz-border-top-left-radius: $radius;
      -ms-border-top-left-radius: $radius;
          border-top-left-radius: $radius;
  } @else if $corner == 'top-right' {
    -webkit-border-top-right-radius: $radius;
     -moz-border-top-right-radius: $radius;
      -ms-border-top-right-radius: $radius;
          border-top-right-radius: $radius;
  } @else if $corner == 'bottom-left' {
    -webkit-border-bottom-left-radius: $radius;
     -moz-border-bottom-left-radius: $radius;
      -ms-border-bottom-left-radius: $radius;
          border-bottom-left-radius: $radius;
  } @else if $corner == 'bottom-right' {
     -webkit-border-bottom-right-radius: $radius;
     -moz-border-bottom-right-radius: $radius;
      -ms-border-bottom-right-radius: $radius;
          border-bottom-right-radius: $radius;
  }
}

@mixin circle($color, $width) {
  width: $width;
  height: $width;
  @include border-radius($width/2);
  background: $color;
}


@mixin placeholder-text($color, $font-size, $ls, $fw) {
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $color;
    font-size: $font-size;
    letter-spacing: $ls;
    font-weight: $fw;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: $color;
    font-size: $font-size;
    letter-spacing: $ls;
    font-weight: $fw;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: $color;
    font-size: $font-size;
    letter-spacing: $ls;
    font-weight: $fw;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: $color;
    font-size: $font-size;
    letter-spacing: $ls;
    font-weight: $fw;
  }
}
