// breakpoints
$small: 576px;
$medium: 768px;
$large: 992px;
$extra-large: 1200px;
// Colors
$white: #ffffff;
$light-purple-blue: #3F3D69;
$deep-blue-purple: #2E2E4C;
$dark-puple-blue: #212337;
$medium-purple-blue: #292844;
$mild-puple-blue: #585781;
$icon-light-purple: #9998CC;
$dark-emerald: #1C7D73;
$emerald: #16A085;
$purple-pink: #8870FF;
$blue: #546AB0;
$aqua: #3498DB;
$coral: #FF6766;


$gui-color: $light-purple-blue;

// Fonts
$lato: 'Lato', sans-serif;

// Measurements
$side-menu-width: 135px;
$header-height: 58px;

// Modules
$module-background: $medium-purple-blue;

// Cards
$card-radius: 8px;