.gui-main {
    background: $dark-puple-blue;
    position: relative;
    @include breakpoint(min-width $medium) {
        left: $side-menu-width;
    }
    min-height: 100vh;
    color: $gui-color;
    font-family: $lato;
    padding: 49px 69px;
    h2 {
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 2.23px;
    }
}