.app-header {
    background: $light-purple-blue;
    height: $header-height;
    position: relative;
    width: 100%;
    z-index: 1;
    display: block;
    color: $icon-light-purple;
    .logo-container {
        width: $side-menu-width;
    }

}