.recently-ended {
    margin-top: 12px;
    .recently-ended-row {
        margin: 11px 0;
        width: 100%;
    }
    font-family: $lato;
    color: $mild-puple-blue;
    .avatar-brief {
        img {
            margin-right: 8px;
        }
        h3 {
            font-size: 14px;
            font-weight: 700;
            letter-spacing: 2.23px;
        }
        small {
            font-size: 10px;
            letter-spacing: 1.59px;
            font-weight: 900;
        }
    }   
}
