.app-side-menu {
    background: $deep-blue-purple;
    left: 0;
    top: 0;
    color: $icon-light-purple;
    position: absolute;
    width: 100%;
    z-index: 2;
    a {
        display: block;
        margin: 65px auto;
       // color: $icon-light-purple;
        text-decoration: none;
        i {
            transition: all .3s ease;
            color: $icon-light-purple;
            &:hover {
                opacity: .8;
            }
        }
    }
    // Mobile breakpoint
   @include breakpoint(min-width $medium) {
        position: fixed;
        z-index: 0;
        margin-top: $header-height;
        width: $side-menu-width;
        height: 100%;
   }
}