<div class="app-header d-flex align-items-center">
    <div class="logo-container d-flex justify-content-center">
        <object type="image/svg+xml" data="./assets/logo.svg"></object>
    </div>
    <i ng-click="showMenu()" class="material-icons hidden-md-up">menu</i>
</div>