<div class="recently-ended app-module">
    <div class="app-module-header">
        <div class="row">
            <div class="col-md-6">
                <div class="d-flex align-items-center">
                    <i class="material-icons">stars</i>
                    <h3> Winner</h3>
                </div>
                <div class="app-card">
                    <div class="app-card-body">
                        <div class="app-avator d-flex align-items-center">
                            <img class="rounded-circle" src="./assets/av_temp.png" alt="">
                            <h4>John Doe</h4>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="app-card-song-title d-flex align-items-center">
                                    <img class="rounded" src="./assets/av_temp_2.png" alt="">
                                    <h4>Bump 'N Grind...</h4>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="app-card-controls d-flex align-items-center">
                                    <i class="material-icons">play_arrow</i>
                                    <i class="material-icons">pause</i>
                                    <i class="material-icons">fast_rewind</i>
                                    <img class="hidden-md-down" src="./assets/eq_ph.png" alt="">
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="app-card-footer">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="app-card-row d-flex align-items-center">
                                    <i class="material-icons emerald">stars</i>
                                    <p>Win: <span class="emerald"> +10</span></p>
                                </div>
                                <div class="app-card-row d-flex align-items-center">
                                    <i class="material-icons">new_releases</i>
                                    <p>Win: <span class="emerald"> +10</span></p>
                                </div>
                            </div>
                            <div class="col-md-6 d-flex flex-column align-items-end">
                                <div class="d-flex align-items-start align-items-center">
                                    <i class="material-icons">equalizer</i>
                                    <p>Position</p>
                                    <span class="chart-circle d-flex align-items-center justify-content-center"><span>5</span>
                                    </span>
                                </div>
                                <i class="mt-auto align-self-end material-icons emerald">visibility</i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="d-flex align-items-center">
                    <i class="material-icons">cancel</i>
                    <h3> Looser</h3>
                </div>
                <div class="app-card">
                    <div class="app-card-body">
                        <div class="app-avator d-flex align-items-center">
                            <img class="rounded-circle" src="./assets/av_temp.png" alt="">
                            <h4>John Doe</h4>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="app-card-song-title d-flex align-items-center">
                                    <img class="rounded" src="./assets/av_temp_2.png" alt="">
                                    <h4>Bump 'N Grind...</h4>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="app-card-controls d-flex align-items-center">
                                    <i class="material-icons">play_arrow</i>
                                    <i class="material-icons">pause</i>
                                    <i class="material-icons">fast_rewind</i>
                                    <img class="hidden-md-down" src="./assets/eq_ph.png" alt="">
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="app-card-footer">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="app-card-row d-flex align-items-center">
                                    <i class="material-icons emerald">stars</i>
                                    <p>Win: <span class="emerald"> +10</span></p>
                                </div>
                                <div class="app-card-row d-flex align-items-center">
                                    <i class="material-icons">new_releases</i>
                                    <p>Win: <span class="emerald"> +10</span></p>
                                </div>
                            </div>
                            <div class="col-md-6 d-flex flex-column align-items-end">
                                <div class="d-flex align-items-start align-items-center">
                                    <i class="material-icons">equalizer</i>
                                    <p>Position</p>
                                    <span class="chart-circle d-flex align-items-center justify-content-center"><span>5</span>
                                    </span>
                                </div>
                                <i class="mt-auto align-self-end material-icons emerald">visibility</i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="app-module-body">
         <div class="row">
            <div class="col-md-6">
                <div class="avatar-brief">
                    <div class="recently-ended-row">
                        <h3>Winners</h3>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center justify-content-start">
                        <div class="d-flex align-items-center">
                            <img class="rounded-circle" src="./assets/av_temp.png" alt="">
                            <div class="d-flex align-items-center flex-column">
                                <small>John Dee</small>
                                <small class="blue">points: +1</small>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-start">
                        <div class="d-flex align-items-center">
                            <img class="rounded-circle" src="./assets/av_temp.png" alt="">
                            <div class="d-flex align-items-center flex-column">
                                <small>John Dee</small>
                                <small class="blue">points: +1</small>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-start">
                        <div class="d-flex align-items-center">
                            <img class="rounded-circle" src="./assets/av_temp.png" alt="">
                            <div class="d-flex align-items-center flex-column">
                                <small>John Dee</small>
                                <small class="blue">points: +1</small>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="recently-ended-row d-flex align-items-center justify-content-end">
                        <small class="emerald hover">SEE ALL</small>
                        <i class="emerald material-icons">navigate_next</i>
                    </div>
                </div>
               
            </div>
            <div class="col-md-6">
                <div class="avatar-brief">
                    <div class="recently-ended-row">
                        <h3>Winners</h3>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center justify-content-start">
                        <div class="d-flex align-items-center">
                            <img class="rounded-circle" src="./assets/av_temp.png" alt="">
                            <div class="d-flex align-items-center flex-column">
                                <small>John Dee</small>
                                <small class="blue">points: +1</small>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-start">
                        <div class="d-flex align-items-center">
                            <img class="rounded-circle" src="./assets/av_temp.png" alt="">
                            <div class="d-flex align-items-center flex-column">
                                <small>John Dee</small>
                                <small class="blue">points: +1</small>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-start">
                        <div class="d-flex align-items-center">
                            <img class="rounded-circle" src="./assets/av_temp.png" alt="">
                            <div class="d-flex align-items-center flex-column">
                                <small>John Dee</small>
                                <small class="blue">points: +1</small>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="recently-ended-row d-flex align-items-center justify-content-end">
                        <small class="emerald hover">SEE ALL</small>
                        <i class="emerald material-icons">navigate_next</i>
                    </div>
                </div>
               
            </div>
        </div>
    </div>

    <div class="app-module-footer">
        <div class="app-comments">
            <div class="app-comments-header">
                <div class="app-comment-header-row d-flex align-items-center">
                    <div class="app-comment-header-item d-flex align-items-center">
                        <i class="aqua material-icons">chat</i>
                        <small>Comments <span class="blue">(134)</span></small>
                    </div>
                    <div class="app-comment-header-item d-flex align-items-center">
                        <i class="emerald material-icons">hearing</i>
                        <small>Listens <span class="blue">(501)</span></small>
                    </div>
                    <div class="app-comment-header-item d-flex align-items-center">
                        <i class="red material-icons">favorite</i>
                        <small>Likes <span class="blue">(1256)</span></small>
                    </div>
                </div>
            </div>
            <div class="app-comments-body">
                <form action="" class="d-flex align-items-center">
                    <input type="text" placeholder="Comment...">
                    <button class="hover app-round-btn d-flex align-items-center justify-content-center">
                        <i class="material-icons md-36">send</i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>