<div>
<div class="hidden-md-up">
   <i ng-click="toggleSideMenu()" class="material-icons">clear</i>
</div>
<a href="#"><i class="material-icons">play_circle_outline</i></a>
<a href="#"><i class="material-icons">account_circle</i></a>
<a href="#"><i class="material-icons">library_music</i></a>
<a href="#"><i class="material-icons">chat</i></a>
<a href="#"><i class="material-icons">backup</i></a>
<a href="#"><i class="material-icons">settings</i></a>
</div>

