<div class="recently-ended app-module">
    <div class="app-module-header">
        <div class="row">
            <div class="col-md-8">
                <div class="d-flex align-items-center justify-content-start">
                    <div class="d-flex align-items-center">
                        <img class="rounded-circle" src="./assets/av_temp_3.png" alt="">
                        <h4>John Doe</h4>
                    </div>
                    <div class="d-flex align-ietems-center">
                        <i class="material-icons">local_play</i>
                        <p>Points: <span>5</span></p>
                    </div>
                    <div class="d-flex align-ietems-center">
                        <i class="material-icons">local_play</i>
                        <p>Win: <span>+10</span></p>
                    </div>
                    <div class="d-flex align-ietems-center">
                        <i class="material-icons">local_play</i>
                        <p>Lost: <span>+0</span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="circle">
                    <span>1</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-3">
                          <span>Total win votes</span>
                    </div>
                    <div class="col-md-9">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                          <span>Total win votes</span>
                    </div>
                    <div class="col-md-9">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 56%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                          <span>Total win votes</span>
                    </div>
                    <div class="col-md-9">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
              
            </div>
            <div class="col-md-4">

            </div>
        </div>
    </div>
    <div class="app-module-body">
        
    </div>

    <div class="app-module-footer">
        
    </div>
</div>